-
  const dataNavFooter = [
    { title: 'Home', link: '#' },
    { title: 'Đối tác của Pitec', link: '#' },
    { title: 'Pitec làm gì', link: '#' },
    { title: 'Sản phẩm của Pitec', link: '#' },
    { title: 'Ứng dụng của Pitec', link: '#' },
    { title: 'Cách thức hoạt động', link: '#' },
  ]

footer.footer
  .container 
    .footer-wrapper 
      .row 
        .col-lg-2.col-md-12
          .footer-col 
            .footer-logo 
              img(src="./assets/images/logo.png", alt="")
        .col-lg-3.col-md-4 
          .footer-col 
            h4.footer-title Navigation
            .footer-lists 
              each item in dataNavFooter
                a(href=`${item.link}`).list-item.link= item.title
        .col-lg-4.col-md-4.border-col
          .footer-col
            h4.footer-title Location
            .footer-lists 
              a(href=`#`).list-item.d-flex.align-items-start
                img(src="./assets/icons/icon-map-marker-red.svg", alt="")
                |100000, Республика  Казахстан, г. Караганда, ул. Телевизионная 10
              a(href=`#`).list-item.d-flex.align-items-start
                img(src="./assets/icons/icon-phone-red.svg", alt="")
                |+7 (701) 77 76 811
              a(href=`#`).list-item.d-flex.align-items-start
                img(src="./assets/icons/icon-mail-red.svg", alt="")
                |hello@gmail.com
        .col-lg-3.col-md-4 
          .footer-col 
            h4.footer-title Follow Us
            .footer-lists.social-network.d-flex.flex-wrap
              a(href="#").list-item.facebook
                img(src="./assets/icons/icon-facebook-blue.svg", alt="")
              a(href="#").list-item
                img(src="./assets/icons/icon-twitter-blue.svg", alt="")
              a(href="#").list-item
                img(src="./assets/icons/icon-linkedin-blue.svg", alt="")
              a(href="#").list-item
                img(src="./assets/icons/icon-pinterest-red.svg", alt="")
  
  .footer-bottom 
    .container
      .footer-bottom-wrapper
        p © 2021 Pitec AI