footer.footer {
  background: $footer;

  .footer-wrapper {
    padding: 55px 0 0;
    @media (max-width: 767px) {
      padding-bottom: 45px;
    }
  }

  .footer-logo {
    width: 130px;

    img {
      width: 100%;
    }
  }
  .border-col {
    border-left: 1px solid rgba(0, 0, 0, 0.05);
    border-right: 1px solid rgba(0, 0, 0, 0.05);
    @media (max-width: 768px) {
      border: none;
    }
  }
  .footer-col {
    margin-bottom: 30px;
  }

  .footer-title {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 25px;
  }

  .footer-lists {
    .list-item {
      display: block;
      color: #828282;
      margin-bottom: 15px;
      font-size: 12px;
      font-weight: 400;
      line-height: 2;
      &.link {
        transition: 0.3s ease;
        &:hover {
          transform: translateX(5px);
          color: $red;
          font-weight: 700;
        }
      }

      img {
        transform: translateY(5px);
        width: 15px;
        margin-right: 15px;
      }
    }

    &.social-network {
      .list-item {
        margin-right: 15px;

        &.facebook {
          img {
            width: 10px;
          }
        }

        img {
          transform: none;
          width: 20px;
        }
      }
    }
  }

  .footer-bottom {
    border-top: 1px solid rgba(0, 0, 0, 0.05);

    .footer-bottom-wrapper {
      position: relative;
      padding: 40px 0 20px;
      p {
        font-size: 12px;
        text-align: center;
        color: #828282;
        letter-spacing: 2px;
        margin-bottom: 0;
      }
    }
  }
}