* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Roboto Slab', sans-serif;
	color: $text;
}

ul {
	list-style: none;
}

p {
	line-height: 1.5;
}

input, button {
	outline: none;
}

a {
	text-decoration: none;

	&:hover {
		text-decoration: none;
	}
}

.line {
	height: 1px;
	background: linear-gradient(90deg, rgba(192, 204, 218, 0.1) 0%, rgba(192, 204, 218, 0.6) 50.38%, rgba(192, 204, 218, 0.1) 100%);
	width: 100%;
}

.custom-style-carousel {
	.owl-dots {
		display: flex;
		justify-content: center;
		.owl-dot {
			width: 10px;
			height: 10px;
			outline: none;
			border-radius: 50%;
			background: $gray;
			cursor: pointer;
			transition: 0.3s ease;
			margin: 0 5px;
			&.active {
				border-radius: 5px;
				width: 15px;
				background: $orange;
			}
		}
	}
}

section.section {
	.section-des {
		font-family: 'Manrope', sans-serif;
		color: $blue-text;
		font-size: 20px;
		text-transform: uppercase;
		letter-spacing: 3px;
		font-weight: bold;
		@media (max-width: 575px) {
			font-size: 16px;
		}
	}
	.section-title {
		font-size: 40px;
		text-transform: capitalize;
		@media (max-width: 575px) {
			font-size: 36px;
		}
		span {
			color: $red;
		}
	}
}