$white: #fff;
$black: #000;
$pink: #C33A7C;
$blue-dark: #32495E;
$blue: #4598FF;
$blue-light: #62B3E1;
$green: #14AC51;
$red: #EF4537;
$orange: #F89C49;
$text: #333;
$blue-text: #3A66AF;
$gray: #D9DBE1;
$gray-dark: #4F4F4F;
$gray-content: #666;
$white-transparent: rgba(255, 255, 255, 0.3);
$border: #E2E2E2;
$footer: #F6F6F6;
$placeholder: #776C82;