extends includes/layout/layout.pug
block pages 
  include includes/components/section-banner.pug
  +sectionBanner('Giới thiệu về PITEC')

  include includes/components/section-about-leader.pug

  include includes/components/section-about-contact.pug