extends includes/layout/layout.pug
block pages 
  include includes/components/section-home-video.pug

  include includes/components/section-partner.pug

  include includes/components/section-about.pug

  include includes/components/section-product.pug

  include includes/components/section-ung-dung.pug

  include includes/components/section-activity.pug

  include includes/components/section-contact.pug