extends includes/layout/layout.pug
block pages 
  include includes/components/section-banner.pug
  +sectionBanner('PITEC tuyển dụng')

  include includes/components/section-tuyen-dung.pug

  include includes/components/section-contact.pug