section.section.section-about 
  .section-about-wrapper.d-flex.flex-wrap.align-items-center
    .wrapper-item 
      h3.section-des Pitec làm gì
      h2.section-title PITEC Chuyên #[span R&D] các công nghệ AI
      .wrapper-image 
        img(src="./assets/images/image-about.png", alt="")

    .wrapper-item.content
      .wrapper-bg-dot 
        img(src="./assets/images/bg-dots.png", alt="")
      .about-item.d-flex 
        .item-icon
          img(src="./assets/icons/icon-about-1.svg", alt="")
        .item-content 
          h4 Thị giác máy tính (Computer Vision)
          p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mattis et sed nam sem tellus erat.
      .about-item.d-flex 
        .item-icon
          img(src="./assets/icons/icon-about-2.svg", alt="")
        .item-content 
          h4 Bài toán lập lịch
          p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mattis et sed nam sem tellus erat.
      .about-item.d-flex 
        .item-icon
          img(src="./assets/icons/icon-about-3.svg", alt="")
        .item-content 
          h4 PixFaceID
          p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mattis et sed nam sem tellus erat.
      .about-item.d-flex 
        .item-icon
          img(src="./assets/icons/icon-about-4.svg", alt="")
        .item-content 
          h4 Xử lý tiếng nói
          p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mattis et sed nam sem tellus erat.

