section.section.section-ung-dung
  .section-wrapper 
    img.section-bg(src="./assets/images/bg-ung-dung.png", alt="")
    .container
      h2.section-title Một số ứng dụng Công nghệ #[span PixFaceID]
      .ung-dung-lists.d-flex.flex-wrap.jusfity-content-between
        .list-item.d-flex.align-items-center 
          img(src="./assets/icons/icon-arrow-right-orange.svg", alt="")
          |Quản lý chấm công nhân viên
        .list-item.d-flex.align-items-center 
          img(src="./assets/icons/icon-arrow-right-orange.svg", alt="")
          |Tự động mở cửa khi nhân viên đi vào/đi ra
        .list-item.d-flex.align-items-center 
          img(src="./assets/icons/icon-arrow-right-orange.svg", alt="")
          |Quản lý khách đến liên hệ công tác
        .list-item.d-flex.align-items-center 
          img(src="./assets/icons/icon-arrow-right-orange.svg", alt="")
          |Quản lý điểm danh học sinh ra vào trường học
    
  .section-wrapper-bottom
    .container
      .ung-dung-images.d-flex.justify-content-between.flex-wrap
        .image-item 
          img(src="./assets/images/image-ung-dung-1.png", alt="")
          h6 Quản lý văn phòng
        .image-item 
          img(src="./assets/images/image-ung-dung-2.png", alt="")
          h6 Quản lý vào ra trường học/khu công nghiệp
        .image-item 
          img(src="./assets/images/image-ung-dung-3.png", alt="")
          h6 Quản lý an ninh vào ra
      