section.section.section-contact 
  .container
    .section-wrapper
      img(src="./assets/images/bg-contact.png", alt="").section-bg
      .section-main.d-flex.align-items-center.justify-content-center
        .contact-icon 
          img(src="./assets/icons/icon-contact.svg", alt="")

        form(action="#").contact-form
          h2.section-title Bạn cần #[span tư vấn] xin hãy #[br] để lại Email

          .form-input.d-flex.align-items-center
            input(type="text" required placeholder="Địa chỉ Email của bạn")
            button Join the waitlist