mixin sectionBanner(title)
  section.section-banner
    img(src="./assets/images/image-banner.png", alt="").section-banner-image
    .section-banner-overlay
    .section-main.d-flex.align-items-center.justify-content-center
      h1= title