section.section-home-banner-video
  video(src="./assets/videos/video-example.mp4" loop).section-video
  img(src="./assets/images/image-banner.png", alt="").section-video-image-placeholder
  .section-overlay

  .container 
    .section-wrapper 
      img(src="./assets/icons/icon-play.svg", alt="").video-play-btn
      .section-banner-content 
        h1 PixFaceID
        h3
          |Hệ thống nhận diện khuôn mặt bằng 
          br
          |trí thông minh nhân tạo
        .d-flex.button-group
          include button.pug
          +button({type: 'link', link: '#', title: 'Tìm hiểu thêm', className: 'outline-primary big text-white'})

